[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==6.2.1"

[packages]
pandas = "*"
selenium = "*"
sqlalchemy = "*"
pytest = "*"
jupyter = "*"
alembic = "*"
django = "*"
requests = "*"
beautifulsoup4 = "*"
janome = "*"
gensim = "*"
flask = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
